@tailwind base;
@tailwind components;
@tailwind utilities;

.meeting-room {
    @apply flex flex-col items-center justify-center h-screen bg-gray-800;
}

.video-container {
    @apply flex justify-center items-center space-x-4;
}

.video-stream {
    @apply w-1/2 h-auto rounded-lg shadow-lg;
}

.controls {
    @apply mt-4 flex space-x-4;
}

.controls button {
    @apply px-4 py-2 bg-blue-500 text-white rounded-lg shadow-lg;
}


/* For WebKit browsers (Chrome, Safari) */
::-webkit-scrollbar {
    width: 0px; /* Set the width of the scrollbar */
  }
  
  ::-webkit-scrollbar-track {
    background-color: #f1f1f1; /* Set the background color of the scrollbar track */
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #888; /* Set the color of the scrollbar thumb (the draggable part) */
    border-radius: 0px; /* Round the corners of the thumb */
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background-color: #555; /* Change the color of the thumb on hover */
  }
  
 